input:hover {
    border-color: rgb(56, 149, 202);
    border-width: 2px;
    border-style: groove;
    border-radius: 2px;
}
input{
    border-color: rgb(139, 148, 147);
    border-width: 2px;
    border-style:solid;
    border-radius: 2px;
}

.word{
    background-color: rgb(165, 158, 158);
    padding: 5px;
    margin: 5px;
    width: 150px;
}

