.h-a-s {
    font-size: 50px;
    font-style:Arial inherit;
    background-color: rgb(143, 95, 95);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border-style: double;
    background-color: #bababa;
    font-size: 1.5em;
    padding: 10px;
}

li{
    list-style: none;
}